.Rproj.user\*
craft-beer-name-generator.Rproj
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/DCCD0EAC/sources/s-97FCB386/lock_file
.Rproj.user/DCCD0EAC/sources/s-97FCB386/F52AC116-contents
.Rproj.user/DCCD0EAC/sources/s-97FCB386/D806565A-contents
.Rproj.user/DCCD0EAC/sources/s-97FCB386/D806565A
.Rproj.user/DCCD0EAC/sources/s-97FCB386/CF1BB9DC-contents
.Rproj.user/DCCD0EAC/sources/s-97FCB386/CE266DA7-contents
.Rproj.user/DCCD0EAC/sources/s-97FCB386/C61C979D-contents
.Rproj.user/DCCD0EAC/sources/s-97FCB386/C61C979D
.Rproj.user/DCCD0EAC/sources/s-97FCB386/C4F6858A-contents
.Rproj.user/DCCD0EAC/sources/s-97FCB386/C4F6858A
.Rproj.user/DCCD0EAC/sources/s-97FCB386/BBE85561-contents
.Rproj.user/DCCD0EAC/sources/s-97FCB386/BB375B8-contents
.Rproj.user/DCCD0EAC/sources/s-97FCB386/B445B28B-contents
.Rproj.user/DCCD0EAC/sources/s-97FCB386/989E848D-contents
.Rproj.user/DCCD0EAC/sources/s-97FCB386/989E848D
.Rproj.user/DCCD0EAC/sources/s-97FCB386/97F179E-contents
.Rproj.user/DCCD0EAC/sources/s-97FCB386/97F179E
.Rproj.user/DCCD0EAC/sources/s-97FCB386/951A33EA-contents
.Rproj.user/DCCD0EAC/sources/s-97FCB386/951A33EA
.Rproj.user/DCCD0EAC/sources/s-97FCB386/8BFC161F-contents
.Rproj.user/DCCD0EAC/sources/s-97FCB386/67F4A666-contents
.Rproj.user/DCCD0EAC/sources/s-97FCB386/62075EAB-contents
.Rproj.user/DCCD0EAC/sources/s-97FCB386/58447D16-contents
.Rproj.user/DCCD0EAC/sources/s-97FCB386/58447D16
.Rproj.user/DCCD0EAC/sources/s-97FCB386/3FEA625A-contents
.Rproj.user/DCCD0EAC/sources/s-97FCB386/37FD666A-contents
.Rproj.user/DCCD0EAC/sources/s-97FCB386/37FD666A
.Rproj.user/DCCD0EAC/sources/s-97FCB386/34459A59-contents
.Rproj.user/DCCD0EAC/sources/s-97FCB386/27854229-contents
.Rproj.user/DCCD0EAC/sources/s-97FCB386/27854229
.Rproj.user/DCCD0EAC/sources/s-97FCB386/244C51F3-contents
.Rproj.user/DCCD0EAC/sources/s-97FCB386/244C51F3
.Rproj.user/DCCD0EAC/sources/s-97FCB386/220B4EA-contents
.Rproj.user/DCCD0EAC/sources/s-97FCB386/220B4EA
.Rproj.user/DCCD0EAC/sources/prop/INDEX
.Rproj.user/DCCD0EAC/sources/prop/712479CD
data/~$data.xlsx
